annotated-types==0.6.0
blis==0.7.11
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
colored==1.4.4
confection==0.1.4
cymem==2.0.8
emoji==2.8.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0-py3-none-any.whl#sha256=0d6d6ebed875869a9759c8c096f2cef581fa32d861646030f771c83e5799de82
filelock==3.13.1
Flask==2.1.1
Flask-Cors==3.0.10
fsspec==2023.12.0
ftfy==6.1.3
idna==3.6
importlib-metadata==7.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
langcodes==3.3.0
MarkupSafe==2.1.3
mpmath==1.3.0
msgpack==1.0.7
murmurhash==1.0.10
networkx==3.1
nl-core-news-md @ https://github.com/explosion/spacy-models/releases/download/nl_core_news_md-3.7.0/nl_core_news_md-3.7.0-py3-none-any.whl#sha256=9b0bacc6d15202bbbd3a9585003d9edec44c6a1f1d819b51e8bc6a6d0b4458a8
nltk==3.8.1
numpy==1.24.4
packaging==23.2
preshed==3.0.9
protobuf==3.20.1
pydantic==2.5.2
pydantic_core==2.14.5
regex==2023.10.3
requests==2.31.0
six==1.16.0
smart-open==6.4.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-stanza==1.0.1
spylls==0.1.7
srsly==2.4.8
stanza==1.3.0
sympy==1.12
thinc==8.2.1
torch==2.1.1
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.8.0
urllib3==2.1.0
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
Werkzeug==2.1.1
wordfreq==3.0.3
zipp==3.17.0
